<html>
<body>
  <form id="userinfo">
      <div>
        <label for="username">Enter your name:</label>
        <input type="text" id="username" name="username" value="Dominic" />
      </div>
    
      <div>
        <label for="surname">Enter your surname:</label>
        <input type="text" id="surname" name="surname" value="Test" />
      </div>
      {% csrf_token %}
      <input type="submit" value="Submit" />
      <a href="{% url 'incident' incident.id %}">Перейти к инциденту</a>
  </form>
  <script>
    const form = document.querySelector("#userinfo");

    async function sendData() {
      // Associate the FormData object with the form element
      const formData = new FormData(form);

      const response = await fetch("/incident/assess/{{ incident.id }}", {
          method: "POST",
          body: formData,
        });
    }

    // Take over form submission
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      sendData();
    });
  </script> 
</body>
</html>