{% load utiltags %}
<html>
<body>
  <form id="assessment">
      {% if incident.criteries.count > 1 %}
      <div>
      <h4>Сравнение критериев</h4>
      {% for x in incident.criteries.count|times %}
      {% for y in x|add:"1"|times:incident.criteries.count %}
      <div name="criteria">
        <label for="criteria_score">Критерий {{x|add:"1"}}</label>
        <input type="text" id="criteria_score" name="criteria_score" value="1" />
        <label for="criteria_score">Критерий {{y|add:"1"}}</label>
      </div>
      {% endfor %}
      {% endfor %}
      </div>
      {% endif %}

      {% if incident.basis_set.count > 0 and incident.strategy_set.count > 1 %}
      <div>
      <h4>Сравнение стратегий по базисам</h4>
      {% for basis in incident.basis_set.all %}
      <div name="basis">
      <h4>Базис {{ forloop.counter }}: {{ basis.description }}</h4>
      {% for criteria in incident.criteries.all %}
      <div name="criteria_basis">
      <p>Сравнение по критерию '{{ criteria.description }}' и базису '{{ basis.name }}'</p>
      {% for x in incident.strategy_set.count|times %}
      {% for y in x|add:"1"|times:incident.strategy_set.count %}
      <div name="strategy">
        <label for="strategy_score">Стратегия {{x|add:"1"}}</label>
        <input type="text" id="strategy_score" name="strategy_score" value="1" />
        <label for="strategy_score">Стратегия {{y|add:"1"}}</label>
      </div>
      {% endfor %}
      {% endfor %}
      </div>
      {% endfor %}
      </div>
      {% endfor %}
      {% endif %}

      {% csrf_token %}
      <input type="submit" value="Submit" />
      <a href="{% url 'incident' incident.id %}">Перейти к инциденту</a>
  </form>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    const form = document.querySelector("#assessment")
    async function sendData() {
      var values = {
        "criteria_score": [],
        "basises": []
      };

      $('#assessment').find('div[name="criteria"]').each(function() {
        var value = $(this).find('input[name="criteria_score"]').val();
        values["criteria_score"].push(Number(value));
      });

      $('#assessment').find('div[name="basis"]').each(function() {
        var basis = [];
        $(this).find('div[name="criteria_basis"]').each(function() {
          var strategy = [];
          $(this).find('div[name="strategy"]').each(function() {
            var value = $(this).find('input[name="strategy_score"]').val();
            strategy.push(Number(value));
          });
          basis.push(strategy);
        });
        values["basises"].push(basis);
      });

      const response = await fetch("/incident/assess/{{ incident.id }}", {
          method: "POST",
          body: JSON.stringify(values),
          headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
          mode: 'same-origin'
        });
    }

    // Take over form submission
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      sendData();
    });
  </script> 
</body>
</html>