{% extends 'incidents/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'incidents/css/style.css' %}">
{% endblock %}

{% block header %}
<header class="header fixed-top shadow-sm d-flex">
    <nav class="navbar navbar-expand-lg w-100">
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item px-5"><a class="nav-link active" href="{% url 'incidents' %}">Инциденты</a></li>
            <li class="nav-item px-5"><a class="nav-link" href="{% url 'methods' %}">Методы</a></li>
            <li class="nav-item px-5"><a class="nav-link" href="{% url 'examples' %}">Примеры</a></li>
        </ul>
        </div>
        <ul class="navbar-nav position-fixed end-0 me-5 align-items-center">
            <li class="nav-item px-3 text-end mb-1">
                <div class="fullname">{{ request.user.get_full_name }}</div>
                <div class="username">({{ request.user.get_username }})</div>
            </li>
            <li class="nav-item px-3">
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="logout-btn" type="submit">Выйти</button>
                </form>
            </li>
          </ul>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="cards d-flex p-2 flex-column align-items-center">
    {% for incident in incidents %}
    <div class="card mb-3 {% if incident.is_expert == 1 %}border-success{% endif %}">
        <div class="card-body m-2 mb-1">
          <h5 class="card-title">{{ incident.name|truncatechars:120 }}</h5>
          <p class="card-text">{{ incident.description|linebreaks|truncatechars:360 }}</p>
          <div class="row justify-content-between align-items-center pt-3 border-top">
            <div class="col">
                <p class="card-subtitle text-warning mb-1"><i class="bi bi-info-circle"></i> {{ incident.status }}</p>
                <p class="card-subtitle text-muted"><i class="bi bi-person-gear"></i> {{ incident.creator.user.get_username  }}</p>
            </div>
            <a href="{% url 'incident' incident.id %}" class="col-4 btn btn-primary px-3 py-2">Перейти к инциденту</a>
            <div class="col">
                <p class="card-subtitle text-muted text-end mb-1">{{ incident.created_at|date:'d.m.Y' }} <i class="bi bi-calendar-week"></i></p>
                <p class="card-subtitle text-muted text-end">{{ incident.created_at|time }} <i class="bi bi-clock"></i></p>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
    <div class="empty-incidents d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mb-4">
            В данный момент инциденты в базе отсутствуют.
        </div>
        <a href="{% url 'incident_create' %}" class="btn-create btn btn-primary p-3 w-100">Инициировать решение инцидента</a>
    </div>
    {% endfor %}
</div>

{% endblock %}