{% extends 'incidents/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'incidents/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="login-page d-flex justify-content-center align-items-center h-100">
	<div class="card w-25">
		<div class="card-body m-3">
			<form class="d-flex flex-column" id="auth-form" method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				<h3 class="mb-4	text-center">Авторизация</h3>
				{% if form.errors %}
					<div class="alert alert-danger">
						Неверное имя пользователя или пароль!
					</div>
				{% endif %}

				<div class="mb-4 d-flex flex-column gap-1">
					{{ form.username.label_tag }}
					{{ form.username }}
				</div>
				<div class="mb-5 d-flex flex-column gap-1">
					{{ form.password.label_tag }}
					{{ form.password }}
				</div>
				<button class="btn btn-primary py-2 w-75 align-self-center" type="submit">Войти</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}